.container{
    height: 100vh;
    position: relative;
}

.main{
    height: 85%;
    overflow-y: auto;      
}

.heading{
    background-color: rgb(255, 255, 255);
    padding: 2.5rem 0;
    width: 100%;
    height: 15%;
}

.heading p{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2%;
    text-align: center;
}

.button button{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgba(22, 0, 139, 1);
    font-weight: 500;
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    bottom: 3rem;
    right: 2rem
}

.main::-webkit-scrollbar {
    width: 0.5rem;
}
.main::-webkit-scrollbar-track {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 6px;
}
.main::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 6px;
    border: 0.15rem solid rgba(217, 217, 217, 1);
}
.main::-webkit-scrollbar-thumb:hover {
    background-color: #ffffffdd; 
}